# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

samples/*
data/*
net/*
.svn/*
out/*
testing/*
google_apis/*
tools/*
lib/*
build/*
webrtc/*
resources/*
third_party/*
talk/app/*
talk/base/*
talk/build/*
talk/examples/*
talk/media/*
talk/p2p/*
talk/session/*
talk/site_scons/*
talk/sound/*
talk/third_party/*
talk/xmllite/*
talk/xmpp/*
